<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://logicexamplefn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9349b27b-2b9d-4a85-ad7d-cff75a266373/resourcegroups/logicexample/providers/Microsoft.Web/sites/LogicExampleFn</ResourceId>
    <UserName>$LogicExampleFn</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://logicexamplefn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>